.slider-area {
  background: #262626;
  padding: 50px 0;
  position: relative;
  margin: 120px 0;
}

.img-area {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.img-area img {
  width: 100%;
}

.carousel-caption {
  position: static;
  padding-bottom: 15px;
  padding-top: 0;
}

.carousel-caption h3 {
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.carousel-caption p {
  font-size: 18px;
  margin: auto;
  width: 70%;
  margin-bottom: 10px;
}

.logo {
  margin-top: 60px;
  width: 50%;
}

.social {
  display: flex;
}

.social > div {
  padding: 5px;
  font-size: 20px;
}

.number {
  font-size: 50px;
}

.payment-icons span {
  height: 30px;
  width: 50px;
}
